<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pepsi</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
            <ul class="nav">
                <li class="logo"><img src="{% static 'images/logo.44fea4ca40e8a8843bb0fdf07d618439.png' %}" alt=""></li>
                <li><a href="">Welcome {{user.username}}</a></li>
                <li><a href="{% url 'blog' %}">BLOG</a></li>
                <li><a href="">NEWS LETTER</a></li>
                <li><a href="">CONTACT US</a></li>
                <a class="search" href="">BUY PEPSI PRODUCTS</a>
            </ul>
    </nav>

    <section class="pepsi_0_sugar">
        <div class="promoImg">
            <div class="promoContainer">
                yoo
            </div>
        </div>
        <div class="promoText">
            <img src="{% static 'images/headline.svg' %}" alt="">
        </div>
    </section>
    <section class="pepsiNitro_container">
        <div class="pepsiNitro_flex">
            <div class="pepsiNitro_flex_child">
                <img src="{% static 'images/Nitro_Pepsi_CAN_Glass@2x.png' %}" alt="">
            </div>
            <div class="pepsiNitro_flex_child" style="padding-left: 6%;">
                <img src="{% static 'images/Nitro_Logo@3x.png' %}" alt="">
                <h2>SMOOTH, CREAMY, DELICIOUS.</h2>
                <a class="nitroLink" href="">LEARN MORE</a>
            </div>
        </div>
    </section>
    <section class="better-with-pepsi">
        <div class="tagline">
            <img src="{% static 'images/tag-line@3x.png' %}" alt=""></div>
    </section>
    <section class="pepsi-mango">
        <div class="pepsi-mango-container">
            <div class="bottomleft">
                <img src="{% static 'images/bg-2-desktop@2x.png' %}" alt="">
            </div>
            
            <div class="headline">
                <img src="{% static 'images/headline@3x.png' %}" alt="">
            </div>
           
            <div class="bottomRight">
                <img src="{% static 'images/bg-1-desktop@2x.png' %}" alt="">
            </div>


        </div>
    </section>
    <section class="hero">
        <div class="hero-video">
            <video src="{% static 'images/PepsiWildCherry.Copier.15.mp4' %}" autoplay="true" loop="true" playsinline="true" muted="true"></video>
        </div>
    </section>
    <section class="pepsi-twil">
        <div class="twilcontainer">
            <div class="twil-flex">
                <div class="twil-flex-child1">
                    <img src="{% static 'images/twil-can.png' %}" alt="">
                </div>
                <div class="twil-flex-child2">
                    <img src="{% static 'images/twil-header-mb.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="social">
        <div class="social-title-container">
            <h2 class="social-title">STAY ON THE PULSE. FOLLOW PEPSI.</h2>
        </div>
        <div class="social-item-container">
            <div class="social_item twitter">
                <a href="">
                    <img src="{% static 'images/social-twitter.png' %}" alt="">
                </a>
            </div>
            <div class="social_item facebook">
                <a href="">
                    <img src="{% static 'images/social-facebook.png' %}" alt="">
                </a>
            </div>
            <div class="social_item instagram">
                <a href="">
                    <img src="{% static 'images/social-instagram.png' %}" alt="">
                </a>
            </div>
            <div class="social_item youtube">
                <a href="">
                    <img src="{% static 'images/social-youtube.png' %}" alt="">
                </a>
            </div>
            <div class="social_item tiktok">
                <a href="">
                    <img src="{% static 'images/social-tiktok.png' %}" alt="">
                </a>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer_container">
            <div class="footer_logo">
                <img src="{% static 'images/logo-large.png' %}" alt="pepsi logo">
            </div>
            <ul class="footer_links">
                <li><a href="">CONTACT US</a></li>
                <li><a href="">TERMS & CONDITIONS</a></li>
                <li><a href="">PRIVACY POLICY</a></li>
                <li><a href="">COPYRIGHT</a></li>
                <li><a href="">PRODUCT FACTS</a></li>
                <li><a href="">STORE LOCATOR</a></li>
                <li><a href="">SERVE PEPSI</a></li>
                <li><a href="">ABOUT OUR ADS</a></li>
                <li><a href="">CAREERS</a></li>
            </ul>
            <div class="footer_right">
                <a  class="newsletter" href="">SUBSCRIBE TO NEWSLETTER</a>
                <div class="footer_socials">
                    <a href=""><img src="{% static 'images/icon-twitter.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/icon-facebook.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/icon-instagram.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/icon-youtube.svg' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/icon-tiktok.svg' %}" alt=""></a>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>