<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'login.css' %}">
</head>
<body>

  <form action="/home/" method="post">
       {% csrf_token %}
     <div class="login-box">
         <h1><span>Lo</span>g<b>in</b></h1>
         <label for="username">Username</label>
       <input type="username" id="username" name="username" placeholder="Enter Your User name">
         <label for="password">Password</label>
     <input type="password" id="pass1" name="pass1" placeholder="Password(only letters and numbers)" required>
     {% for message in messages %}
     {{ message }}
         {% endfor %}<br><br>
     <button type="submit">Login</button>
         </div>
 </form>
</body>
</html>