<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pepsi.com</title>
    <link rel="stylesheet" href="pepsi.css">
</head>
<body>
    <header>
    <div class="navbar-item">
      
       
        <nav>
           
            <ul>
                <img src="images/Pepsi.png" height="59px">
                <li><a href="#">View products</a></li>
                <li><a href="#">What's new</a></li>
                <li><a href="#">News letter</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <li class="searchproducts"><a href="#">Buy pepsi products</a></li>
        </nav>
    </div>
 
    <div class="photo">
        

    
    </div>

</header>
    
</body>
</html>